.login{
    padding-top: 8rem;
    display: flex;
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
}
.loginContainer{
    display: flex;
    justify-content:center;
    align-items: center;
}
.input-container{
    width: 25rem;
}
.matCard{
    width: 100%;
    padding: 1rem;
    border: 2px solid  blue;
    border-radius: 20px;
}
.loginLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding: 1rem 0;
}
.loginButtonContainer{
    width:100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.loginButtonContainer span{
    padding-top: 2rem;
}
.loginButtonContainer span u{
    color: blue;
    cursor: pointer;
}
.loginButton{
    width:5rem;
    display: flex;
}